#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Outlook (PWA)
Exec=/opt/vivaldi/vivaldi "--profile-directory=Profile 1" --app-id=faolnafnngnfdaknnbpnkhgohbobgegn --app-run-on-os-login-mode=windowed
Icon=vivaldi-faolnafnngnfdaknnbpnkhgohbobgegn-Profile_1
StartupWMClass=crx_faolnafnngnfdaknnbpnkhgohbobgegn
Actions=New-event;New-message;Open-calendar

[Desktop Action New-event]
Name=New event
Exec=/opt/vivaldi/vivaldi "--profile-directory=Profile 1" --app-id=faolnafnngnfdaknnbpnkhgohbobgegn --app-run-on-os-login-mode=windowed --app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/calendar/deeplink/compose

[Desktop Action New-message]
Name=New message
Exec=/opt/vivaldi/vivaldi "--profile-directory=Profile 1" --app-id=faolnafnngnfdaknnbpnkhgohbobgegn --app-run-on-os-login-mode=windowed --app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/mail/deeplink/compose

[Desktop Action Open-calendar]
Name=Open calendar
Exec=/opt/vivaldi/vivaldi "--profile-directory=Profile 1" --app-id=faolnafnngnfdaknnbpnkhgohbobgegn --app-run-on-os-login-mode=windowed --app-launch-url-for-shortcuts-menu-item=https://outlook.office.com/calendar
