[Desktop Entry]
Type=Application
Name=Wallpaper
Exec=/usr/bin/timewall set ~/Insync/edinei3a@hotmail.com/Dropbox/Wallpaper/HEIC/Mojave+.heic --daemon
Comment=Wallpaper