[submodule "dependences/archcraft-openbox"]
	path = dependences/archcraft-openbox
	url = git@github.com:archcraft-os/archcraft-openbox.git
[submodule "dependences/themes/gtk"]
	path = dependences/themes/gtk
	url = git@github.com:dracula/gtk.git
[submodule "dependences/themes/openbox"]
	path = dependences/themes/openbox
	url = git@github.com:dracula/openbox.git
[submodule "dependences/themes/rofi"]
	path = dependences/themes/rofi
	url = git@github.com:dracula/rofi.git
[submodule "dependences/themes/git"]
	path = dependences/themes/git
	url = git@github.com:dracula/git.git
[submodule "dependences/themes/gitkraken"]
	path = dependences/themes/gitkraken
	url = git@github.com:dracula/gitkraken.git
[submodule "dependences/mopidy-docker"]
	path = dependences/mopidy-docker
	url = git@github.com:jojo141185/mopidy-docker.git
[submodule "dependences/themes/Tela-circle-icon-theme"]
	path = dependences/themes/Tela-circle-icon-theme
	url = git@github.com:vinceliuice/Tela-circle-icon-theme.git
