[submodule "dependences/archcraft-openbox"]
	path = dependences/archcraft-openbox
	url = git@github.com:archcraft-os/archcraft-openbox.git
[submodule "dependences/themes/gtk"]
	path = dependences/themes/gtk
	url = git@github.com:dracula/gtk.git
[submodule "dependences/themes/openbox"]
	path = dependences/themes/openbox
	url = git@github.com:dracula/openbox.git
