[user]
    name = Edinei Cavalcanti
    email = hi@edinei.dev
[color]
    ui = auto
[alias]
    st = status
    ps = push origin
    fups = fetch upstream
    cm = commit
    ciamend = commit -a --amend
    prev = checkout HEAD^1
    next = "!sh -c 'git log --reverse --pretty=%H master | awk \"/$(git rev-parse HEAD)/{getline;print}\" | xargs git checkout'"
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgfiles = log --name-only --pretty=format: | sort | uniq -c | sort
[core]
    excludesfile = ./.gitignore_global
    editor = vim
[push]
    default = simple
